/* General Page Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

html, body{
    height: 100svh;
    background-color: #f9fbfd;
}

#wrapper {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}


/* Top Half Styles */
#top-half {
    /* background: linear-gradient(#f9fbfd, #f8e5fc, #f9fbfd, #f8e5fc); */
    background: linear-gradient(#fcecff, #f9fbfd, #fcecff, #f9fbfd);
    /* background: linear-gradient(45deg, #f9fbfd, red, #f9fbfd, red); */
    background-size: 300% 300%;
    height: 50%;
    animation: gradient 20s linear infinite;
    /* border-bottom: 2px solid grey; */
}

@keyframes gradient {
  0% {
    background-position: top;
  }

  50% {
    background-position: center;
  }

  100% {
    background-position: bottom;
  }
}

#name-header {
  padding: 30px 70px;
}

#name-header p {
  margin: 10px 0;
  /* font-weight: 400; */
  letter-spacing: 1px;
}

.name-title {
  font-size: 50px;
  font-weight: 460;
}

.descriptor-title {
  font-size: 30px;
  padding-left: 15px;
  transition: padding-left .75s ease, font-weight .75s ease;
}

.descriptor-title:hover {
  padding-left: 60px;
  font-weight: bold;
}

/* Bottom Half Styles */
#bottom-half {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer-icons {
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
}

#footer-icons img {
  width: 3.5svw;
  min-width: 45px;
  margin: 5px 15px;
}

/* About Section */
#description-block {
  padding-top: 60px;
  width: 75%;
  align-self: center;
  font-size: 20px;
}

.text-subheader {
  font-size: 24px;
  font-weight: bold;
}